
.gradient-element {
    background-image: linear-gradient(40%, #F7E6DB, rgba(255, 255, 255, 0), 60%);
    background-size: 100% 150%;

}

/*fuentes personalazadas*/
@font-face {
    font-family: pertili;
    font-weight: bold;
    src: url("/fonts/pertili.ttf") format("opentype");
}



/*icono del logo*/
.element {
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;  /* Smooth transition for rotation */
}

.element.rotating {
    transform: rotate(180deg);  /* Adjust rotation angle as needed */
}

.element.reset {
    transform: rotate(0deg);
}

