
.separator {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    z-index: 10; /* Asegúrate de que el separador esté por encima de los botones */
}

.gradient-element {
    background-image: linear-gradient(40%, #F7E6DB, rgba(255, 255, 255, 0), 60%);
    background-size: 100% 150%;

}
